openapi: 3.0.3
info:
  title: ELS Feedback & Notification API
  version: 2.0.0
servers:
  - url: https://feedback.els.ericterminal.com
paths:
  /v1/healthz:
    get:
      summary: 健康检查
      responses:
        '200':
          description: ok
  /v1/announcements:
    get:
      summary: 获取已发布的客户端公告
      responses:
        '200':
          description: 公告数组；没有公告时返回空数组
          headers:
            ETag:
              schema:
                type: string
            Cloudflare-CDN-Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicAnnouncement'
        '304':
          description: 公告内容未变化
  /v1/admin/announcements:
    get:
      summary: 获取全部公告管理记录
      servers:
        - url: http://192.168.31.102:8521
          description: 内网管理监听器
      security:
        - announcementAdminToken: []
      responses:
        '200':
          description: 公告管理记录
        '401':
          description: 管理鉴权失败
    post:
      summary: 创建公告
      servers:
        - url: http://192.168.31.102:8521
          description: 内网管理监听器
      security:
        - announcementAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRecordInput'
      responses:
        '201':
          description: 公告已创建
        '400':
          description: 公告字段无效
        '401':
          description: 管理鉴权失败
  /v1/admin/announcements/{key}:
    parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
    put:
      summary: 更新公告
      servers:
        - url: http://192.168.31.102:8521
          description: 内网管理监听器
      security:
        - announcementAdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRecordInput'
      responses:
        '200':
          description: 公告已更新
        '404':
          description: 公告不存在
    delete:
      summary: 删除公告
      servers:
        - url: http://192.168.31.102:8521
          description: 内网管理监听器
      security:
        - announcementAdminToken: []
      responses:
        '204':
          description: 公告已删除
        '404':
          description: 公告不存在
  /v1/feedback/challenge:
    post:
      summary: 获取 challenge
      responses:
        '200':
          description: challenge 已生成
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  challenge_id:
                    type: string
                  client_secret:
                    type: string
                  nonce:
                    type: string
                  pow_bits:
                    type: integer
                  pow_salt:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
  /v1/feedback/issues:
    post:
      summary: 创建反馈工单
      parameters:
        - in: header
          name: X-ELS-Challenge-Id
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-Timestamp
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-Signature
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-PoW-Nonce
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-PoW-Hash
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  issue_number:
                    type: integer
                  ticket_token:
                    type: string
                  public_url:
                    type: string
                    format: uri
                  status:
                    type: string
        '202':
          description: 已受理但内容被暂时隐藏
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  issue_number:
                    type: integer
                  ticket_token:
                    type: string
                  public_url:
                    type: string
                    format: uri
                  status:
                    type: string
                    enum: [blocked]
                  moderation_blocked:
                    type: boolean
                  moderation_message:
                    type: string
                  archive_id:
                    type: string
        '401':
          description: 签名或 challenge 校验失败
        '429':
          description: 触发限流
  /v1/feedback/issues/{issue_number}:
    get:
      summary: 查询反馈工单状态
      parameters:
        - in: path
          name: issue_number
          required: true
          schema:
            type: integer
        - in: query
          name: ticket_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 查询成功
        '403':
          description: ticket_token 无效
  /v1/feedback/issues/{issue_number}/comments:
    post:
      summary: 在反馈工单下发送评论
      parameters:
        - in: path
          name: issue_number
          required: true
          schema:
            type: integer
        - in: query
          name: ticket_token
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-Challenge-Id
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-Timestamp
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-Signature
          required: true
          schema:
            type: string
        - in: header
          name: X-ELS-PoW-Nonce
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
      responses:
        '200':
          description: 评论已发布
        '202':
          description: 评论被暂时隐藏，已发布占位评论
        '403':
          description: ticket_token 无效
components:
  securitySchemes:
    announcementAdminToken:
      type: http
      scheme: bearer
      description: 使用 ANNOUNCEMENT_ADMIN_TOKEN；浏览器管理台使用安全会话 Cookie
  schemas:
    PublicAnnouncement:
      type: object
      required: [id, type, title, body]
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [info, warning, blocking]
        min_build:
          type: string
        max_build:
          type: string
        language:
          type: string
        platform:
          type: string
          enum: [iOS, watchOS]
        title:
          type: string
        body:
          type: string
    AnnouncementRecordInput:
      allOf:
        - $ref: '#/components/schemas/PublicAnnouncement'
        - type: object
          required: [enabled]
          properties:
            enabled:
              type: boolean
